.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 448px;
	height: 335px;
	background: white;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 16px;
}

.close {
	display: flex;
	justify-content: end;
	cursor: pointer;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 48px;
}

.title {
	color: rgb(21, 30, 45);
	font-size: 40px;
	font-weight: 700;
	line-height: 115%;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 8px;
}

.subtitle {
	color: rgba(21, 30, 45, 0.4);
	font-size: 18px;
	font-weight: 400;
	line-height: 125%;
	letter-spacing: 0%;
	text-align: center;
	margin-bottom: 32px;
}

.buttonPrimary{
	text-decoration: none;
	border: none;
	border-radius: 10px;
	backdrop-filter: blur(7px);
	background: linear-gradient(-46.40deg, rgb(45, 19, 172),rgb(130, 59, 182) 27.851%,rgb(185, 60, 166) 68.162%,rgb(230, 186, 91) 104.703%);
	color: rgb(255, 255, 255);
	width: 247px;
	height: 56px;
	// шрифт
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}