@font-face {
	font-family: 'Benzin';
	src: url('../../assets/fonts/Benzin/Benzin-ExtraBold.ttf')format('truetype');
	src: url('../../assets/fonts/Benzin/Benzin-Bold.ttf')format('ttf');
}

.root{
	padding: 40px 60px;
	display: flex;
	justify-content: space-between;
}
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menuGroup{
	display: flex;
	flex-direction: row;
	margin-right: 16px;
}

.menuItem {
	margin-right: 40px;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	font-weight: 400;
	cursor: pointer;
	a {
		text-decoration: none;
		color: white;
	}
	a:focus {
		text-decoration: none;
		color: white;
	}
}

.menuItem:hover{
	opacity: 0.7;
}

.buttonGroup{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.buttonPrimary{
	text-decoration: none;
	border: none;
	border-radius: 10px;
	backdrop-filter: blur(7px);
	background: linear-gradient(-46.40deg, rgb(45, 19, 172),rgb(130, 59, 182) 27.851%,rgb(185, 60, 166) 68.162%,rgb(230, 186, 91) 104.703%);
	color: rgb(255, 255, 255);
	// шрифт
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0%;
	width: 120px;
	height: 48px;
	margin-right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.buttonPrimary:hover {
	opacity: .8;
}

.buttonDefault{
	text-decoration: none;
	border-radius: 10px;
	/* Автолейаут */
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
	font-size: 18px;
	line-height: 21px;
	cursor: pointer;
	background-color: #151E2D;
	height: 47px;
	width: 179px;
}
.buttonDefault:hover {
	opacity: 0.9;
}
.buttonDefaultBorder{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: 180px;
	height: 48px;
	padding: 1px;
	background: linear-gradient(-79.40deg, rgb(230, 186, 91),rgb(130, 59, 182) 27.851%,rgb(185, 60, 166) 68.162%,rgb(45, 19, 172)104.703%);
}

.buttonAccount{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 194px;
	height: 46px;
	border-radius: 10px;
	background-color: #151E2D;
}

.buttonAccountContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 196px;
	height: 48px;
	border-radius: 10px;
	background: linear-gradient(90deg, rgb(0, 83, 255),rgb(91, 136, 229),rgb(82, 0, 255));
}

.buttonAccountText{
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
}

.iconContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 10px;
	background: linear-gradient(90deg, rgb(0, 83, 255),rgb(91, 136, 229),rgb(82, 0, 255));
	margin-right: 8px;
}

.icon{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	width: 30px;
	height: 30px;
	background-color: #151E2D;
}

.mobileMenu {
	display: none;
}
@media screen and (max-width: 920px) {
	.root {
		padding: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.menu {
		display: none;
	}
	.mobileMenu {
		display: flex;
		cursor: pointer;
	}
	.mobileButtonGroup {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 184px;
		height: 30px;
		border-radius: 10px;
		margin-right: 16px;
	}
	.mobileButtonAccountContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 124px;
		height: 30px;
		border-radius: 8px;
		background: linear-gradient(90deg, rgb(0, 83, 255),rgb(91, 136, 229),rgb(82, 0, 255));
	}
	.mobileIconContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 22px;
		height: 22px;
		border-radius: 6px;
		background: linear-gradient(90deg, rgb(0, 83, 255),rgb(91, 136, 229),rgb(82, 0, 255));
		margin-right: 6px;
	}
	.mobileIcon{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		background-color: #151E2D;
		img {
		width: 20px;
		height: 20px;
		}
	}
	.mobileButtonAccountText {
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
	}
	.mobileButtonAccount {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 122px;
		height: 28px;
		border-radius: 8px;
		background-color: #151E2D;
	}
}
@media screen and (max-width: 430px) {
	.root {
		padding:  11px 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.menuGroup {
		display: none;
	}
	.buttonGroup {
		width: 40px;
	}
	.buttonDefaultBorder {
		width: 120px;
	}
	.buttonDefault {
		width: 120px;
	}

	.buttonAccountContainer {
		width: 140px;
	}
	.menu {
		display: none;
	}
	.mobileMenu {
		display: flex;

		cursor: pointer;
	}
	.mobileButtonGroup {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 84px;
		height: 30px;
		border-radius: 10px;
		margin-right: 16px;
	}
	.mobileButtonAccountContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 84px;
		height: 30px;
		border-radius: 8px;
		background: linear-gradient(90deg, rgb(0, 83, 255),rgb(91, 136, 229),rgb(82, 0, 255));
	}
	.mobileIconContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 18px;
		height: 18px;
		border-radius: 6px;
		background: linear-gradient(90deg, rgb(0, 83, 255),rgb(91, 136, 229),rgb(82, 0, 255));
		margin-right: 6px;
	}
	.mobileIcon{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		background-color: #151E2D;
		img {
		width: 16px;
		height: 16px;
		}
	}
	.mobileButtonAccountText {
		font-size: 12px;
		font-weight: 400;
		line-height: 21px;
	}
	.mobileButtonAccount {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 82px;
		height: 28px;
		border-radius: 8px;
		background-color: #151E2D;
	}
}

