@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  background-color: #151E2D;
  color: #FFFFFF;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100vw - 5px);
}


@media screen and (max-width: 1920px) {
  html{
    display: flex;
    justify-content: center;
    
  }
  body{
    overflow-x: hidden;
    width: 1440px;
  }
}


// TODO адаптив
@media screen and (max-width: 1280px) {
  html{
    display: flex;
    justify-content: center;
    
  }
  body{
    overflow-x: hidden;

  }
}

// TODO адаптив
@media screen and (max-width: 1024px) {
  html{
    display: flex;
    justify-content: center;
    
  }
  body{
    overflow-x: hidden;

  }
}

@media screen and (max-width: 2560px) {
  html{
    display: flex;
    justify-content: center;
    
  }
  body{
    overflow-x: hidden;
    width: 1440px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151E2D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF
}