.greetingContainer{
	height: 100vh;
	min-height: 875px;
	background-image: url("../../../public/images/greet.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
