.container {
	margin: 90px 0 72px 0;
	position: relative;
	display: flex;
	flex-direction: row;
	
}

.scroll {
	margin-left: 60px;
	margin-right: 60px;
	border-radius: 20px;
	display: flex;
	width: 96%;
	overflow: hidden;
}

.scroll div {
	white-space: nowrap;
	animation: scroll 15s linear infinite;
	animation-delay: 0

}

.scroll div:nth-child(2) {
	animation: scroll2 15s linear infinite;
	animation-delay: 0
}

.sliderImage{
	padding: 0 40px;
}

@keyframes scroll {
	0% {
			transform: translateX(0);
	}

	100% {
			transform: translateX(-100%);
	}
}

@keyframes scroll2 {
	0% {
			transform: translateX(0);
	}

	100% {
			transform: translateX(-100%);
	}
}

@media screen and (max-width: 1280px) {
	.sliderImage {
		width: 480px;
	}
}

@media screen and (max-width: 1024px) {
	.sliderImage {
		width: 360px;
	}
}


@media screen and (max-width: 920px) {
	.container {
		margin: 16px 24px
	}
	.scroll {
		margin: 0 8px;
		border-radius: 15px;
	}
	.sliderImage {
		width: 416px;
		height: 298px;
		padding: 0 8px;
		border-radius: 20px;
	}
}
@media screen and (max-width: 430px) {
	.container {
		margin: 40px 0 32px 0;
	}
	.scroll {
		margin: 0 16px;
		border-radius: 15px;
	}
	.sliderImage {
		width: 254px;
		height: 182px;
		padding: 0 8px;
		border-radius: 20px;
	}
}